.sg_sidebar {
  color: #000;
  background: #e6e6e6;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  
  &::-webkit-scrollbar { 
    display: none; 
  }
  
  ul,
  ol {
    margin: 0;
    padding: 0;
    list-style: none;
  }
  li {
    border-top: 1px solid transparentize($white, 0.8);
    line-height: $heading-line-height;
  }
  a:not(.logo) {
    text-transform: capitalize;
    display: block;
    color: transparentize($white, 0.5);
    font-size: $typo_sparrow;
    font-weight: 700;
    text-decoration:none;
    padding: $margin_small/3 0;
    padding: $margin;
    transition: all $base-timing $base-duration;
    margin-left: $margin_large;
        
    &:before {
      @extend .icon;
      content: 'remove';
      display: inline-block;
      line-height: 1;
      vertical-align: text-top;
      margin-right: $margin_small;
      margin-left: - $margin_large;
    }
    &.active:before {
      content: 'arrow_forward';
    }
    
    &:hover,
    &.active {
      color: $white;
    }
  }
  
  .logo {
    display: flex;
    align-items: center;
    padding: $margin_large $margin; 
    color: $white;
    text-transform: capitalize;
    font-size: $typo_sparrow;
    font-weight: 700;
    text-decoration:none;
    
    .icon {
      height: 3rem;
      width: 3rem;
      flex: 0 0 auto;
      margin-right: $margin;
      overflow: hidden;
      
      img {
        width: 3rem;
        height: 3rem;
      }
    }
    .title {
      font-size: $typo_crow;
      margin-bottom: 0;
    }
  }
  .group {
    border-top: 1px solid transparentize($white, 0.8);
    padding-bottom: $margin;
  
    .group_title {
      font-size: $typo_hummingbird;
      font-weight: 700;
      padding: $margin;
      padding-bottom: $margin_small;
      margin-bottom: 0;
    }
    li {
      border-top: none;
      
      a {
        padding: $margin_small/2 $margin;
        font-weight: 600;
      }
    }
  }
}