/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */
html {
    line-height: 1.15;
    -webkit-text-size-adjust: 100%
}

body {
    margin: 0
}

h1 {
    font-size: 2em;
    margin: 0.67em 0
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace, monospace;
    font-size: 1em
}

a {
    background-color: transparent
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,
strong {
    font-weight: bolder
}

code,
kbd,
samp {
    font-family: monospace, monospace;
    font-size: 1em
}

small {
    font-size: 80%
}

sub,
sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -0.25em
}

sup {
    top: -0.5em
}

img {
    border-style: none
}

button,
input,
optgroup,
select,
textarea {
    font-family: inherit;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,
input {
    overflow: visible
}

button,
select {
    text-transform: none
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
    -webkit-appearance: button
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
    border-style: none;
    padding: 0
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    padding: 0.35em 0.75em 0.625em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type="checkbox"],
[type="radio"] {
    box-sizing: border-box;
    padding: 0
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
    height: auto
}

[type="search"] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type="search"]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details {
    display: block
}

summary {
    display: list-item
}

template {
    display: none
}

[hidden] {
    display: none
}

@font-face {
    font-family: 'HKGrotesk';
    src: url("../fonts/HKGrotesk/Bold/HKGrotesk-Bold.woff2") format("woff2"), url("../fonts/HKGrotesk/Bold/HKGrotesk-Bold.woff") format("woff"), url("../fonts/HKGrotesk/Bold/HKGrotesk-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal
}

@font-face {
    font-family: 'HKGrotesk';
    src: url("../fonts/HKGrotesk/Regular/HKGrotesk-Regular.woff2") format("woff2"), url("../fonts/HKGrotesk/Regular/HKGrotesk-Regular.woff") format("woff"), url("../fonts/HKGrotesk/Regular/HKGrotesk-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal
}

@font-face {
    font-family: 'HKGrotesk';
    src: url("../fonts/HKGrotesk/Semibold/HKGrotesk-Semibold.woff2") format("woff2"), url("../fonts/HKGrotesk/Semibold/HKGrotesk-Semibold.woff") format("woff"), url("../fonts/HKGrotesk/Semibold/HKGrotesk-Semibold.ttf") format("truetype");
    font-weight: 600;
    font-style: normal
}

@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(../fonts/MaterialIcons/MaterialIcons-Regular.eot);
    src: local("Material Icons"), url(../fonts/MaterialIcons/MaterialIcons-Regular.woff2) format("woff2"), url(../fonts/MaterialIcons/MaterialIcons-Regular.woff) format("woff"), url(../fonts/MaterialIcons/MaterialIcons-Regular.ttf) format("truetype")
}

i.icon {
    height: auto;
    width: auto;
    font-family: "Material Icons";
    margin-right: .5rem;
    vertical-align: middle;
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    display: inline-block;
    line-height: inherit;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    font-feature-settings: 'liga'
}

i.icon.i12:before {
    font-size: 12px !important
}

i.icon.i14:before {
    font-size: 14px !important
}

i.icon.i18:before {
    font-size: 18px !important
}

i.icon.i24:before {
    font-size: 24px !important
}

i.icon.i36:before {
    font-size: 36px !important
}

i.icon.i48:before {
    font-size: 48px !important
}

i.icon:before {
    content: attr(data-icon)
}

i.icon.red {
    color: #ff4500
}

i.icon.blue {
    color: #1e90ff
}

i.icon.green {
    color: #16b491
}

i.icon.amber {
    color: orange
}

i.icon.grey {
    color: #d3d3d3
}

.icon,
.sg_sidebar a:not(.logo):before {
    font-family: "Material Icons";
    text-transform: none
}

.typo_ostrich {
    font-size: 3rem
}

.typo_albatros {
    font-size: 2.2rem
}

.typo_eagle {
    font-size: 1.8rem
}

.typo_hawk {
    font-size: 1.5rem
}

.typo_crow {
    font-size: 1.25rem
}

.typo_sparrow {
    font-size: 1rem
}

.typo_hummingbird {
    font-size: .875rem
}

ul,
ol,
dd,
p,
figure,
table,
fieldset,
hr {
    margin: 0;
    margin-bottom: 1rem
}

blockquote {
    margin: 1.5rem 0;
    padding-left: 2rem
}

blockquote .icon:first-child,
blockquote .sg_sidebar a:first-child:not(.logo):before,
.sg_sidebar blockquote a:first-child:not(.logo):before {
    font-size: 1.5rem;
    line-height: 1;
    margin-left: -2rem
}

.header,
h1,
h2,
h3,
h4,
h5,
h6 {
    line-height: 1.25;
    margin-bottom: 1rem;
    color: #0a0a0a;
    font-weight: 600;
    margin-top: 1.5rem
}

h1 {
    font-size: 3rem
}

h2,
h3,
h4,
h5,
h6 {
    font-size: 1.8rem
}

@media only screen and (max-width: 1200px) {
    .typo_ostrich {
        font-size: 2rem
    }

    .typo_albatros {
        font-size: 1.8rem
    }

    .typo_eagle {
        font-size: 1.4rem
    }

    .typo_hawk {
        font-size: 1.25rem
    }

    h1 {
        font-size: 2rem
    }

    h2,
    h3,
    h4,
    h5,
    h6 {
        font-size: 1.4rem
    }
}

hr {
    border-top: 0;
    border-bottom: 1px solid #f5f5f5;
    margin: 4.5rem 0
}

@media only screen and (max-width: 1200px) {
    hr {
        margin: 3rem 0
    }
}

code,
pre {
    font-family: Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
    color: #fff;
    font-size: .875rem;
    background: #0a0a0a;
    white-space: pre-wrap;
    word-wrap: break-word
}

pre {
    margin: 0;
    padding: 1rem
}

figure {
    max-width: 100%
}

.highlighter-rouge {
    padding: .1rem .2rem;
    background: rgba(10, 10, 10, 0.1);
    color: #0a0a0a
}

.highlight {
    margin: 3rem 0
}

@media only screen and (max-width: 1200px) {
    .highlight {
        margin: 1.5rem 0
    }
}

.highlight code:before {
    content: attr(data-lang);
    display: block;
    background: #1e90ff;
    color: #fff;
    font-weight: bold;
    margin-top: -1rem;
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 1rem;
    padding: .5rem 1rem;
    font-family: "HKGrotesk", sans-serif;
    text-transform: uppercase;
    font-size: 14px
}

.highlight .hll {
    background-color: #272822
}

.highlight .c {
    color: #75715e
}

.highlight .err {
    color: #960050;
    background-color: #1e0010
}

.highlight .k {
    color: #66d9ef
}

.highlight .l {
    color: #ae81ff
}

.highlight .n {
    color: #f8f8f2
}

.highlight .o {
    color: #f92672
}

.highlight .p {
    color: #f8f8f2
}

.highlight .cm {
    color: #75715e
}

.highlight .cp {
    color: #75715e
}

.highlight .c1 {
    color: #75715e
}

.highlight .cs {
    color: #75715e
}

.highlight .ge {
    font-style: italic
}

.highlight .gs {
    font-weight: bold
}

.highlight .kc {
    color: #66d9ef
}

.highlight .kd {
    color: #66d9ef
}

.highlight .kn {
    color: #f92672
}

.highlight .kp {
    color: #66d9ef
}

.highlight .kr {
    color: #66d9ef
}

.highlight .kt {
    color: #66d9ef
}

.highlight .ld {
    color: #e6db74
}

.highlight .m {
    color: #ae81ff
}

.highlight .s {
    color: #e6db74
}

.highlight .na {
    color: #a6e22e
}

.highlight .nb {
    color: #f8f8f2
}

.highlight .nc {
    color: #a6e22e
}

.highlight .no {
    color: #66d9ef
}

.highlight .nd {
    color: #a6e22e
}

.highlight .ni {
    color: #f8f8f2
}

.highlight .ne {
    color: #a6e22e
}

.highlight .nf {
    color: #a6e22e
}

.highlight .nl {
    color: #f8f8f2
}

.highlight .nn {
    color: #f8f8f2
}

.highlight .nx {
    color: #a6e22e
}

.highlight .py {
    color: #f8f8f2
}

.highlight .nt {
    color: #f92672
}

.highlight .nv {
    color: #f8f8f2
}

.highlight .ow {
    color: #f92672
}

.highlight .w {
    color: #f8f8f2
}

.highlight .mf {
    color: #ae81ff
}

.highlight .mh {
    color: #ae81ff
}

.highlight .mi {
    color: #ae81ff
}

.highlight .mo {
    color: #ae81ff
}

.highlight .sb {
    color: #e6db74
}

.highlight .sc {
    color: #e6db74
}

.highlight .sd {
    color: #e6db74
}

.highlight .s2 {
    color: #e6db74
}

.highlight .se {
    color: #ae81ff
}

.highlight .sh {
    color: #e6db74
}

.highlight .si {
    color: #e6db74
}

.highlight .sx {
    color: #e6db74
}

.highlight .sr {
    color: #e6db74
}

.highlight .s1 {
    color: #e6db74
}

.highlight .ss {
    color: #e6db74
}

.highlight .bp {
    color: #f8f8f2
}

.highlight .vc {
    color: #f8f8f2
}

.highlight .vg {
    color: #f8f8f2
}

.highlight .vi {
    color: #f8f8f2
}

.highlight .il {
    color: #ae81ff
}

.highlight .gu {
    color: #75715e
}

.highlight .gd {
    color: #f92672
}

.highlight .gi {
    color: #a6e22e
}

.sg_label {
    display: inline;
    font-size: .875rem;
    margin: 0;
    font-weight: bold;
    border-radius: 1rem;
    padding: .2rem .6rem;
    line-height: 1.25;
    color: #d3d3d3;
    text-transform: uppercase;
    background: #f5f5f5
}

.sg_label.planned {
    background: #ff4500;
    color: #fff
}

.sg_label.draft {
    background: orange;
    color: #fff
}

.sg_label.ready {
    background: #16b491;
    color: #fff
}

.sg_label.retired {
    background: #d3d3d3;
    color: #fff
}

a {
    color: #1e90ff
}

a:hover,
a:focus {
    color: #0071e0
}

img {
    max-width: 100%
}

input {
    padding: .5rem;
    font-size: 16px;
    outline: 0;
    border: 1px solid #f5f5f5;
    border-color: #d3d3d3
}

input.fluid {
    width: calc(100% - 1rem)
}

.sg_masthead {
    padding: 4.5rem 0;
    margin-bottom: 4.5rem;
    border-bottom: 1px solid #f5f5f5;
    color: #0a0a0a
}

@media only screen and (max-width: 1200px) {
    .sg_masthead {
        padding: 3rem 0;
        margin-bottom: 3rem
    }
}

.sg_masthead .sg_contain {
    display: flex;
    flex-direction: row
}

@media only screen and (max-width: 1400px) {
    .sg_masthead .sg_contain {
        flex-direction: column
    }
}

.sg_masthead .head {
    display: flex;
    flex: 0 0 100%;
    flex-direction: column
}

.sg_masthead .title {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
    font-weight: bold;
    text-transform: capitalize
}

.sg_masthead .title .count {
    display: flex;
    flex: 0 0 auto;
    font-size: .875rem;
    margin-left: 1rem;
    height: 1.25rem;
    width: 6rem;
    border-radius: 1rem;
    overflow: hidden;
    background: #f5f5f5
}

.sg_masthead .title .count span {
    height: 1.25rem
}

.sg_masthead .title .count .planned {
    background: #ff4500
}

.sg_masthead .title .count .draft {
    background: orange
}

.sg_masthead .title .count .ready {
    background: #16b491
}

.sg_masthead .title .count .retired {
    background: #d3d3d3
}

.sg_masthead .sub_title {
    margin-bottom: 1rem
}

.sg_masthead #nav {
    flex: 1 0 auto;
    width: calc(300px - 3rem);
    padding-left: 3rem
}

.sg_masthead #nav ul {
    padding: 0;
    margin: 0;
    list-style: none
}

.sg_masthead #nav li a {
    padding: .25rem 0
}

.sg_masthead #nav li a:before {
    content: 'remove';
    font-family: "Material Icons";
    display: inline-block;
    line-height: 1;
    vertical-align: text-top;
    margin-right: .5rem
}

@media only screen and (max-width: 1400px) {
    .sg_masthead #nav {
        width: auto;
        padding-left: 0
    }
}

.sg_sidebar {
    color: #000;
    background: #dcdcdc;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

.sg_sidebar::-webkit-scrollbar {
    display: none
}

.sg_sidebar ul,
.sg_sidebar ol {
    margin: 0;
    padding: 0;
    list-style: none
}

.sg_sidebar li {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    line-height: 1.25
}

.sg_sidebar a:not(.logo) {
    text-transform: capitalize;
    display: block;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none;
    padding: .16667rem 0;
    padding: 1rem;
    transition: all ease .2s;
    margin-left: 1.5rem
}

.sg_sidebar a:not(.logo):before {
    content: 'remove';
    display: inline-block;
    line-height: 1;
    vertical-align: text-top;
    margin-right: .5rem;
    margin-left: -1.5rem
}

.sg_sidebar a:not(.logo).active:before {
    content: 'arrow_forward'
}

.sg_sidebar a:not(.logo):hover,
.sg_sidebar a:not(.logo).active {
    color: #000
}

.sg_sidebar .logo {
    display: flex;
    align-items: center;
    padding: 1.5rem 1rem;
    color: #fff;
    text-transform: capitalize;
    font-size: 1rem;
    font-weight: 700;
    text-decoration: none
}

.sg_sidebar .logo .icon,
.sg_sidebar .logo a:not(.logo):before {
    height: 3rem;
    width: 3rem;
    flex: 0 0 auto;
    margin-right: 1rem;
    overflow: hidden
}

.sg_sidebar .logo .icon img,
.sg_sidebar .logo a:not(.logo):before img {
    width: 3rem;
    height: 3rem
}

.sg_sidebar .logo .title {
    font-size: 1.25rem;
    margin-bottom: 0
}

.sg_sidebar .group {
    border-top: 1px solid rgba(255, 255, 255, 0.2);
    padding-bottom: 1rem
}

.sg_sidebar .group .group_title {
    font-size: .875rem;
    font-weight: 700;
    padding: 1rem;
    padding-bottom: .5rem;
    margin-bottom: 0
}

.sg_sidebar .group li {
    border-top: none
}

.sg_sidebar .group li a {
    padding: .25rem 1rem;
    font-weight: 600
}

.sg_pattern_control {
    display: flex;
    justify-content: flex-end;
    margin-bottom: 3rem;
    transition: all .2s ease
}

@media only screen and (max-width: 1200px) {
    .sg_pattern_control {
        margin-bottom: 1.5rem
    }
}

.sg_pattern_control:before {
    content: attr(data-styles);
    font-size: .875rem;
    font-weight: 700;
    margin: 0 .5rem 0 0;
    align-self: center;
    margin-right: auto;
    color: #f5f5f5;
    transition: all .2s ease
}

.sg_pattern_control .button {
    padding: 0 .5rem;
    color: #f5f5f5;
    transition: all .2s ease
}

.sg_pattern_control .button:hover {
    color: #1e90ff !important
}

.sg_pattern_control .button .icon,
.sg_pattern_control .button .sg_sidebar a:not(.logo):before,
.sg_sidebar .sg_pattern_control .button a:not(.logo):before {
    margin-right: 0
}

.sg_pattern {
    position: relative;
    margin-bottom: 3rem;
    margin-top: 6rem;
    padding-top: 6rem;
    border-top: 1px solid #f5f5f5
}

@media only screen and (max-width: 1200px) {
    .sg_pattern {
        margin-bottom: 1.5rem;
        margin-top: 3rem;
        padding-top: 3rem
    }
}

.sg_pattern .title {
    display: flex;
    align-items: center
}

.sg_pattern .title a.permalink {
    margin-left: -2rem;
    opacity: 0;
    color: #d3d3d3;
    transition: all .2s ease
}

@media only screen and (max-width: 1200px) {
    .sg_pattern .title a.permalink {
        display: none
    }
}

.sg_pattern .title a.permalink:hover {
    color: #1e90ff
}

.sg_pattern .title .header {
    margin-bottom: 0;
    margin-top: 0
}

.sg_pattern .title .sg_label {
    margin-left: 1rem
}

.sg_pattern:hover a.permalink,
.sg_pattern.active a.permalink {
    opacity: 1
}

.sg_pattern:hover .sg_pattern_control:before,
.sg_pattern:hover .sg_pattern_control .button,
.sg_pattern.active .sg_pattern_control:before,
.sg_pattern.active .sg_pattern_control .button {
    color: #d3d3d3
}

.sg_pattern:first-child {
    padding-top: 0;
    border-top: 0
}

.sg_code {
    display: none;
    height: auto
}

.sg_viewport {
    position: relative;
    display: block;
    width: 100%;
    background-image: url(../images/loader.svg);
    background-position: center center;
    background-size: 40px;
    background-repeat: no-repeat;
    margin-top: 3rem
}

@media only screen and (max-width: 1200px) {
    .sg_viewport {
        margin-top: 1.5rem
    }
}

.sg_viewport iframe {
    width: 1px;
    min-width: 100%;
    min-height: 100px;
    opacity: 0
}

.sg_doc {
    position: relative
}

.sg_doc .sg_contain h1 {
    display: flex;
    align-items: flex-start;
    cursor: pointer;
    margin-bottom: 4.5rem;
    transition: margin-bottom ease .2s
}

.sg_doc .sg_contain h1:after {
    content: 'arrow_back';
    font-family: "Material Icons";
    margin-left: auto;
    transform: rotate(-90deg);
    transition: all .2s ease;
    transform-origin: center center;
    line-height: 1;
    font-size: inherit
}

.sg_doc .sg_contain h1.collapsed:after {
    transform: rotate(0deg)
}

.sg_doc .sg_contain h1 + .sg_pattern {
    margin-top: 0;
    padding-top: 0;
    border-top: 0
}

.sg_doc .sg_contain h1:not(:first-child) {
    margin-top: 4.5rem;
    border-top: 1px solid #f5f5f5;
    padding-top: 4.5rem
}

.sg_doc .sg_contain > *:last-child {
    margin-bottom: 4.5rem
}

@media only screen and (max-width: 1200px) {
    .sg_doc .sg_contain h1 {
        margin-bottom: 3rem
    }

    .sg_doc .sg_contain h1:not(:first-child) {
        margin-top: 3rem;
        padding-top: 3rem
    }

    .sg_doc .sg_contain > *:last-child {
        margin-bottom: 4.5rem
    }
}

html#sg,
body#sg {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
    min-height: 100%;
    font-size: 16px;
    font-family: "HKGrotesk", sans-serif;
    line-height: 1.6;
    background: #fff
}

body#sg {
    position: relative;
    color: #515151;
    text-rendering: optimizeLegibility;
    -webkit-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern"1, "liga"1, "frac"1, "pnum"1;
    -moz-font-feature-settings: "kern"1, "liga"1, "frac"1, "pnum"1;
    -ms-font-feature-settings: "kern"1, "liga"1, "frac"1, "pnum"1;
    font-feature-settings: "kern"1, "liga"1, "frac"1, "pnum"1;
    -webkit-font-smoothing: antialiased
}

.sg-pusher {
    position: relative;
    min-height: 100%;
    margin: 0 1.5rem
}

@media only screen and (max-width: 800px) {
    .sg-pusher {
        margin: 0 1rem
    }
}

.sg_sidebar_button {
    display: none
}

@media only screen and (max-width: 1200px) {
    .sg_sidebar_button {
        font-size: 2rem;
        height: 2rem;
        width: 2rem;
        line-height: 1;
        margin: 1rem 0;
        left: 0;
        position: absolute;
        display: block;
        z-index: 1;
        color: #0a0a0a
    }

    .sg_sidebar_button .icon,
    .sg_sidebar_button .sg_sidebar a:not(.logo):before,
    .sg_sidebar .sg_sidebar_button a:not(.logo):before {
        font-size: inherit;
        margin-right: 0
    }
}

@media only screen and (max-width: 1200px) {
    .sg-pusher.show_sidebar {
        width: 100%;
        overflow: hidden;
        margin: 0
    }

    .sg-pusher.show_sidebar .sg_sidebar_button {
        left: 320px;
        color: #1e90ff
    }

    .sg-pusher.show_sidebar .sg_sidebar {
        width: 300px;
        left: 0
    }

    .sg-pusher.show_sidebar .sg-main {
        position: absolute;
        left: 320px;
        opacity: .2
    }
}

@media only screen and (max-width: 480px) {
    .sg-pusher.show_sidebar {
        width: 100%;
        overflow: hidden;
        margin: 0
    }

    .sg-pusher.show_sidebar .sg_sidebar_button {
        left: 270px
    }

    .sg-pusher.show_sidebar .sg_sidebar {
        width: 250px;
        left: 0
    }

    .sg-pusher.show_sidebar .sg-main {
        position: absolute;
        left: 270px;
        opacity: .2
    }
}

.sg_sidebar {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    width: 300px;
    height: 100%;
    min-height: 100%;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch
}

@media only screen and (max-width: 1200px) {
    .sg_sidebar {
        left: -300px
    }
}

.sg-main {
    padding: 0;
    width: 100%;
    height: auto;
    min-height: 100%
}

.sg_contain {
    max-width: 50rem;
    margin: 0 auto;
    padding: 0 300px 0 320px
}

@media only screen and (max-width: 1400px) {
    .sg_contain {
        max-width: 52rem;
        padding: 0 0 0 320px
    }
}

@media only screen and (max-width: 1200px) {
    .sg_contain {
        padding: 0
    }
}

#sg_roadmap input {
    margin-bottom: 1.5rem
}

#sg_roadmap .table {
    display: table;
    width: 100%;
    text-align: left;
    table-layout: fixed
}

#sg_roadmap .list {
    display: table-row-group
}

#sg_roadmap .tableRow {
    display: table-row
}

#sg_roadmap .tableCell {
    display: table-cell;
    vertical-align: middle;
    box-shadow: 0 1px 0 0 #f5f5f5
}

#sg_roadmap .sg_roadmap_header {
    display: table-row-group
}

#sg_roadmap .sg_roadmap_header .tableCell:nth-child(1) {
    width: 100px
}

#sg_roadmap .sg_roadmap_header .tableCell:nth-child(5) {
    width: 50px
}

#sg_roadmap .sg_roadmap_header a.sort {
    font-weight: 600;
    text-decoration: none;
    display: block;
    margin: 0 .5rem .5rem 0;
    color: #d3d3d3;
    font-size: .875rem;
    transition: all .2s ease
}

#sg_roadmap .sg_roadmap_header a.sort:after {
    font-family: "Material Icons";
    content: 'arrow_drop_up';
    margin-left: .5rem;
    line-height: 1;
    vertical-align: middle;
    opacity: 0
}

#sg_roadmap .sg_roadmap_header a.sort:hover,
#sg_roadmap .sg_roadmap_header a.sort.asc,
#sg_roadmap .sg_roadmap_header a.sort.desc {
    color: #1e90ff
}

#sg_roadmap .sg_roadmap_header a.sort.asc:after {
    content: 'arrow_drop_up';
    opacity: 1
}

#sg_roadmap .sg_roadmap_header a.sort.desc:after {
    content: 'arrow_drop_down';
    opacity: 1
}

#sg_roadmap a.sg_roadmap_pattern {
    text-decoration: none;
    transition: all .2s ease
}

#sg_roadmap a.sg_roadmap_pattern .tableCell {
    padding: 1.5rem 0
}

#sg_roadmap a.sg_roadmap_pattern .tableCell > * {
    margin: 0 .5rem 0 0
}

#sg_roadmap a.sg_roadmap_pattern:hover {
    background: rgba(245, 245, 245, 0.2)
}

#sg_roadmap a.sg_roadmap_pattern:hover .header,
#sg_roadmap a.sg_roadmap_pattern:hover .icon,
#sg_roadmap a.sg_roadmap_pattern:hover .sg_sidebar a:not(.logo):before,
.sg_sidebar #sg_roadmap a.sg_roadmap_pattern:hover a:not(.logo):before {
    color: #1e90ff
}

#sg_roadmap a.sg_roadmap_pattern .header {
    text-transform: capitalize;
    transition: all .2s ease
}

#sg_roadmap a.sg_roadmap_pattern .styles,
#sg_roadmap a.sg_roadmap_pattern .group {
    color: #d3d3d3
}

#sg_roadmap a.sg_roadmap_pattern .sg_label {
    display: block;
    height: .5rem;
    width: 1.5rem;
    padding: 0
}

#sg_roadmap a.sg_roadmap_pattern .arrow {
    text-align: right
}

#sg_roadmap a.sg_roadmap_pattern .icon,
#sg_roadmap a.sg_roadmap_pattern .sg_sidebar a:not(.logo):before,
.sg_sidebar #sg_roadmap a.sg_roadmap_pattern a:not(.logo):before {
    color: #d3d3d3;
    transition: all .2s ease
}

@media only screen and (max-width: 800px) {
    #sg_roadmap .table {
        table-layout: auto
    }

    #sg_roadmap .sg_roadmap_header .tableCell:nth-child(4),
    #sg_roadmap .sg_roadmap_header .tableCell:nth-child(5) {
        display: none
    }

    #sg_roadmap .sg_roadmap_pattern .tableCell:nth-child(4),
    #sg_roadmap .sg_roadmap_pattern .tableCell:nth-child(5) {
        display: none
    }
}